-- Execute no banco ecocoleta (phpMyAdmin ou mysql CLI) uma vez.
-- Agendamentos de coleta por morador (data + faixa de horário).

USE ecocoleta;

CREATE TABLE IF NOT EXISTS agendamento_coleta_morador (
  id_agendamento INT AUTO_INCREMENT PRIMARY KEY,
  id_usuario INT NOT NULL,
  data_coleta DATE NOT NULL,
  slot_ordem TINYINT UNSIGNED NOT NULL COMMENT '0=07-10h,1=10-13h,2=13-16h,3=16-19h,4=19-22h',
  criado_em DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  UNIQUE KEY uq_usuario_data_slot (id_usuario, data_coleta, slot_ordem),
  KEY idx_intervalo (id_usuario, data_coleta),
  CONSTRAINT fk_agendamento_usuario FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
