-- Execute no phpMyAdmin (banco ecocoleta).
-- Se codigo_recuperacao_expira for DATE, a hora e cortada: o codigo parece
-- "expirado" no mesmo dia. Precisa ser DATETIME.

USE ecocoleta;

ALTER TABLE usuario
  MODIFY COLUMN codigo_recuperacao_expira DATETIME NULL;

ALTER TABLE usuario
  MODIFY COLUMN reset_token_expira DATETIME NULL;
